@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url("http://sivalka.agro-top.store/files/robotothin.woff2") format('woff2'), url("http://sivalka.agro-top.store/files/robotothin.woff") format('woff'), url("http://sivalka.agro-top.store/files/robotothin.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url("http://sivalka.agro-top.store/files/robotothinitalic.woff2") format('woff2'), url("http://sivalka.agro-top.store/files/robotothinitalic.woff") format('woff'), url("http://sivalka.agro-top.store/files/robotothinitalic.ttf") format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url("http://sivalka.agro-top.store/files/robotolight.woff2") format('woff2'), url("http://sivalka.agro-top.store/files/robotolight.woff") format('woff'), url("http://sivalka.agro-top.store/files/robotolight.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url("http://sivalka.agro-top.store/files/robotolightitalic.woff2") format('woff2'), url("http://sivalka.agro-top.store/files/robotolightitalic.woff") format('woff'), url("http://sivalka.agro-top.store/files/robotolightitalic.ttf") format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url("http://sivalka.agro-top.store/files/roboto.woff2") format('woff2'), url("http://sivalka.agro-top.store/files/roboto.woff") format('woff'), url("http://sivalka.agro-top.store/files/roboto.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url("http://sivalka.agro-top.store/files/robotoitalic.woff2") format('woff2'), url("http://sivalka.agro-top.store/files/robotoitalic.woff") format('woff'), url("http://sivalka.agro-top.store/files/robotoitalic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url("http://sivalka.agro-top.store/files/robotomedium.woff2") format('woff2'), url("http://sivalka.agro-top.store/files/robotomedium.woff") format('woff'), url("http://sivalka.agro-top.store/files/robotomedium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url("http://sivalka.agro-top.store/files/robotomediumitalic.woff2") format('woff2'), url("http://sivalka.agro-top.store/files/robotomediumitalic.woff") format('woff'), url("http://sivalka.agro-top.store/files/robotomediumitalic.ttf") format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url("http://sivalka.agro-top.store/files/robotobold.woff2") format('woff2'), url("http://sivalka.agro-top.store/files/robotobold.woff") format('woff'), url("http://sivalka.agro-top.store/files/robotobold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url("http://sivalka.agro-top.store/files/robotobolditalic.woff2") format('woff2'), url("http://sivalka.agro-top.store/files/robotobolditalic.woff") format('woff'), url("http://sivalka.agro-top.store/files/robotobolditalic.ttf") format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url("http://sivalka.agro-top.store/files/robotoblack.woff2") format('woff2'), url("http://sivalka.agro-top.store/files/robotoblack.woff") format('woff'), url("http://sivalka.agro-top.store/files/robotoblack.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url("http://sivalka.agro-top.store/files/robotoblackitalic.woff2") format('woff2'), url("http://sivalka.agro-top.store/files/robotoblackitalic.woff") format('woff'), url("http://sivalka.agro-top.store/files/robotoblackitalic.ttf") format('truetype');
    font-weight: 900;
    font-style: italic;
}